YAHOO_CLIENT_ID=
YAHOO_API_ENABLED=false
YAHOO_API_TIMEOUT_SECONDS=10
YAHOO_API_RESULTS=20

AMAZON_JP_ENABLED=false
AMAZON_JP_DEMO_ENABLED=false
AMAZON_JP_MAX_RESULTS=20
AMAZON_JP_TIMEOUT_SECONDS=10
AMAZON_JP_RETRY_COUNT=0

RAKUTEN_APPLICATION_ID=
RAKUTEN_ACCESS_KEY=
RAKUTEN_AFFILIATE_ID=
RAKUTEN_API_ENABLED=false
RAKUTEN_API_DEMO_ENABLED=false
RAKUTEN_API_HITS=20
RAKUTEN_API_TIMEOUT_SECONDS=10
RAKUTEN_API_MAX_RETRIES=2
RAKUTEN_API_SORT=standard
